@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


body, html
{
    margin:0;

    --background: #1a1a1f;

    --keyColor: #35a18c;
    --tabHover: #ffffff0d;
    --accentLines: #ffffff30;

    --whiteText: rgb(224, 224, 224);
    background-color: var(--background);
}

.contentContainer
{
    margin: auto;
    margin-top: 25px;
    width:100%;
    max-width: 1200px;
    height:100vh;
}

.fieldLabel
{
    display: block;
    width: 100%;
    border: none;
    padding: 0;
    font-size: 16px;
    margin:0;
    margin-bottom: 5px;
    font-family: "Poppins";
    color:var(--whiteText);
}

.classicBoxContainer
{
    background-color: var(--background);
    border-radius: 7px;
    padding:10px;
    outline: 1px solid var(--accentLines);
    box-sizing: border-box;
    box-shadow: 0px 3px 10px #00000075;
}

.promptButtonRow
{
    display: flex;
    justify-content: right  ;
}

.promptButtonContainer
{
    display: flex;
    justify-content: right;
}

.promptMainButton
{
    justify-self: right;
    height:35px;
    width:60px;
    outline: none;
    border: none;
    font-family: 'Poppins';
    font-size:14px;
    border-radius: 5px;
    background-color: transparent;
    color:var(--whiteText);
    cursor: pointer;
    padding:0;
}

.promptMainButton:hover
{
    background-color: #ffffff10;
}

.promptMainButton p
{
    padding: 0;
    margin: 0;
}

.redPromptButton
{
    height:35px;
    width:80px;
    outline: none;
    border: none;
    font-family: 'Poppins';
    font-size:14px;
    border-radius: 5px;
    background-color: transparent;
    color:#9b2121f5;
    cursor: pointer;
}

.redPromptButton:hover
{
    background-color: #ff000016;
}

.tooltipButton
{
    position: relative;
}
.tooltipButton:hover:after
{
    position: absolute;
    z-index: 2000000;
    content: attr(tooltip);
    top:-100%;
    left:0px;
    right: 0px;
    width: max-content;
    padding: 5px;

    font-family: "Poppins";
    color:var(--whiteText);
    background-color: #333333;
    border-radius: 5px;
}


.sectionLabel
{
    margin-top:0;
    margin-bottom: 5px;
    font-family: 'Poppins';
    font-size:14px;
    color: var(--whiteText);
    opacity: 85%;
}